
@{
    ViewBag.Title = "Function";
}

<h2>Function</h2>

<form method="get"  action="/Index/Function?x=5&y=9">
    <label>x</label>
    <input type="text" id="txtX" name="x" value=" " />

    <label>y</label>
    <input type="text" id="txtY" name="y" value=" " />

    <input type="submit" value="send" />
</form>