
@{
    ViewBag.Title = "Index";
}


<form method="post" action="/Person/SendPerson">
    <div>
        Name: <input type="text" name="Name" value=" " /><br />
        Age:<input type="text" name="Age" value=" " /><br />
        Email:<input type="text" name="Email" /><br />
        ID: <input type="text" name="ID" /><br />
        <p><input type="submit" /></p>
    </div>
</form>

